.content_seven_btm{
    form{
        .seven_form_input{
            .form-1{
                position: relative;
                .label-1{
                    position: absolute;
                    left: 6%;
                    top: 15%;
                    @media(max-width:$container-xl){
                        left: 20%;
                    }
                    @media(max-width:$container-phone){
                        left: 10%;
                    }
                    .formP{
                        color: $white;
                        margin-right: 3px;
                    }
                    span{
                        color:$form-star;
                    }
                    
                }
                #name{
                    background-color: $form-bg;
                    border: none;
                    border-radius: 5px;
                    color: $white;
                    @media(min-width:$container-xl){
                        width: 413px;
                    }
                    @media(max-width:$container-xl){
                        width: 300px;
                    }
                }
            }
            .form-2{
                position: relative;
                .label-2{
                    position: absolute;
                    left: 16%;
                    top: 15%;
                    @media(max-width:$container-xl){
                        left: 20%;
                    }
                    @media(max-width:$container-phone){
                        left: 10%;
                    }
                    .formP{
                        color: $white;
                        margin-right: 3px;
                    }
                    span{
                        color:$form-star;
                    }
                }
                #email{
                    background-color: $form-bg;
                    border: none;
                    border-radius: 5px;
                    color: $white;
                    @media(min-width:$container-xl){
                        width: 413px;
                    }
                    @media(max-width:$container-xl){
                        width: 300px;
                    }
                }
            }
            
        }
        .form_text{
            position: relative;
            .label-3{
                position: absolute;
                top: 10.5%;
                left: 3%;
                @media(max-width:$container-xl){
                    top: 10%;
                }
                @media(max-width:$container-lg){
                    top: 5%;
                }
                @media(max-width:$container-xl){
                    left: 10%;
                }
                @media(max-width:$container-sm){
                    left: 20%;
                }
                @media(max-width:$container-phone){
                    left: 10%;
                }
                .formP{
                    color: $white;
                    margin-right: 3px;
                }
                span{
                    color: $form-star;
                }
            }
            textarea{
            background-color: $form-bg;
            border: none;
            border-radius: 5px;
            color: $white;
            @media(max-width:$container-xl){
                width: 90%;
                }
            @media(max-width:$container-sm){
                width: 300px !important;
                }
            @media(max-width:$adaptive-phone){
                width: 253px !important;
                }
            }
        }
        
    }
}
.hide-label {
    display: none !important;
}