.content_seven_btm{
    form{
        .seven_form_input{
            .form-1{
                position: relative;
                .label-1{
                    position: absolute;
                    left: 6%;
                    top: 15%;
                    span{
                        color:$form-star;
                    }
                    
                }
                #name{
                    background-color: $form-bg;
                    border: none;
                    width: 413px;
                    border-radius: 5px;
                    color: $white;
                }
            }
            .form-2{
                position: relative;
                .label-2{
                    position: absolute;
                    left: 6%;
                    top: 15%;
                    span{
                        color:$form-star;
                    }
                }
                #email{
                    background-color: $form-bg;
                    border: none;
                    width: 413px;
                    border-radius: 5px;
                    color: $white;
                }
            }
            
        }
        .form_text{
            position: relative;
            .label-3{
                position: absolute;
                top: 10.5%;
                left: 3%;
                span{
                    color: $form-star;
                }
            }
            textarea{
            background-color: $form-bg;
            border: none;
            border-radius: 5px;
            color: $white;
        }
        }
        
    }
}
.hide-label {
    display: none !important;
}