.header{
    background-color: $purple;
    nav{
        background-color: $purple !important;
        .nav-item{
            @media(max-width:$container-lg){
                width: 100px;
                text-align: center;
            }
            a{
            color: $white !important;
            text-transform: uppercase;
            &:hover{
                background-color: $purple-hover;
                border-radius: 5px;
                transition: all .3s linear;
                }
            }
        }
        @media(min-width:$container-lg){
        height: $header;
        }
    }
    @media(min-width:$container-lg){
        height: $header;
        }
}
.header_content_wrapper{
background-color: $purple;
color: $white;
h1{
    font-weight: 700;
}

@media(min-width:$adaptive-phone){
    height: 435px;
}
}