.header{
    background-color: $purple;
    nav{
        background-color: $purple !important;
        .nav-item{
            @media(max-width:$container-lg){
                width: 100px;
                text-align: center;
            }
        }
        .navbar-nav a{
            color: $white !important;
            text-transform: uppercase;
            &:hover{
                background-color: $purple-hover;
                border-radius: 5px;
                transition: all .3s linear;
            }
        }
    }
    @media(min-width:$container-lg){
        height: 160px;
    }
}