.second_block_wrapper{
    height: auto;
    background-color: $green;
    color:$white;
    .content_second_top{
        .text_underline{
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        span{
            position: absolute;
            height: 4px;
            width: 87px;
            background-color: rgba(0, 0, 0, 0.2);
            bottom: 0;
            }
        }
    }
    .content_second_btm{
        img{
            height: 140px;
        }
        h4{
            text-transform: uppercase;
            font-weight: 700;
        }
        span{
            font-size: 16px;
        }
    }
    @media(min-width:$container-md){
        height: 750px;
    }
}
.third_block_wrapper{
    background-color: $white-2;
    color: $text-block3;
    .content_third_top{
        .text_underline{
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            span{
                position: absolute;
                height: 4px;
                width: 87px;
                background-color: rgba(0, 0, 0, 0.2);
                bottom: 0;
                }
            }
    }
    .content_third_btm{
        .content_third_product{
            .round{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-color:$round-bg ;
            }
            h4{
                text-transform: uppercase;
                font-weight: 700;
            }
            h6{
                color:$text-block3-blue;
            }
            span{
                font-size: 16px;
            }
            .third_social{
                a{
                    text-decoration: none;
                    
                    i{
                        background-color: $social-bg;
                        border-radius: 50%;
                        height: 32px;
                        width: 32px;
                        color: $white;
                    }
                }
            }
        }
    }
    @media(min-width:$container-md){
        height: 915px;
    }
}
