.six_wrapper{
    background-color: $pink;
    color: $white;
    .content_six_btm{
        .six_quote{
            .six_quote_left{
                .circle{
                    height: 95px;
                    width: 95px;
                    background-color: $round-bg;
                    border-radius: 50%;
                }
            }
            .six_quote_right{
                q{
                    font-style: italic;
                    font-size: 21px;
                    line-height: 31px;
                }
                cite{
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                span{
                    color: $yellow;
                }
            }
        }
    }
    @media(min-width:$container-md){
        height: 895px;
    }
}
.seven_wrapper{
    background-color:$blue;
    color: $white;
    @media(min-width:$container-md){
        height: 820px;
    }
}