$purple: #87509c;
$white: #fff;
$purple-hover: #643a79;
$orange-button: #eb7d4b;
$orange-button-shadow: #c86a40;
$green: #17c2a4;
$white-2: #e7f1f8;
$text-block3: #3c4761;
$text-block3-blue: #48c1e9;
$text-block3-p: #535e75;
$yellow: #ffdd99;
$pink: #d74680;
$blue: #3c5499;
$deep-blue: #30bae7;



$container-width:1140px;
$container-lg: 992px;
$container-md: 768px;
$container-sm: 576px;
$adaptive-phone: 320px;

